main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

@media screen and (max-width: 767px){
    main{
        height: auto;
    }
}

main div.container {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("/assets/1feladat_bg.png");
    background-blend-mode: lighten;
    background-size: cover;

    max-width: 100%;
    
    flex: 1 1 auto;
}

main > div.container > .row{
    height: 100%;
}

.col{
    flex: 1 1 auto;
    height: 100%;
}

.logo{
    margin:20px;
}

.title-box{
    margin:50px;
}

.title {
    color: #186553;
    font-weight: 700;
}

.subtitle{
    font-size: 20px;
}

.illustration{
    text-align: center;
}

.illustration > img{
    max-width: 100%;
    height: auto;
    width: auto;
}

.right-panel{
    background-color: rgba(255, 255, 255, 0.5);
    padding:40px;
}

.welcome-title{
    color: #682C5D;
    font-weight: 600;
}

.comnica-name{
    text-wrap: nowrap;
}